/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-12-2018, 22:41:28
    Author     : KristianUrup
*/


.root 
{
    -main-bg-color: #666666;
    -main-txt-fill: #ffffff;
    -easv-red: #dc1a31;
    -font: "SBerlin Sans FB Demi" "BOLD ";
}

.background
{
    -fx-background-color: #9c9c9c;
}

.top-background
{
    -fx-background-color: -easv-red;    
    -fx-background-radius: 0 0 10 10;
}

.bottom-background
{
    -fx-background-color: -easv-red;
    -fx-background-radius: 10 10 0 0;   
}

.button
{
    -fx-background-color: #666666;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2.5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-opacity: 0.8;
    -fx-font-family: -font;
}

.button:hover
{
    -fx-text-fill: red;
    -fx-border-color: red;
}

.textBox
{
    -fx-background-color: #FFFFFF;
    -fx-prompt-text-fill: #666666;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.label
{
  -fx-text-fill: #FFFFFF;
  -fx-opacity:0.8; 
  -fx-font-family: "SBerlin Sans FB Demi";
}

.label_header
{
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.8;
    -fx-font-family: "SBerlin Sans FB Demi";
}

.label-small
{
    -fx-text-fill: -main-txt-fill;
    -fx-font-size: 14px;
    -fx-font-family: "Berlin Sans FB Demi" "BOLD" ;
}

.table-view
{
    -fx-padding: 2.5;
    -fx-base: -main-txt-fill;
    -fx-control-inner-background: -main-bg-color;
    -fx-background-color: -main-txt-fill;
    -fx-opacity: 0.8;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "SBerlin Sans FB Demi";
    -fx-alignment: center-left;
    -fx-text-fill: -main-txt-fill;
    -fx-background-color: black;
    -fx-opacity: 0.5;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding:2.5;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: black;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.text-field {
    -fx-font-size: 24pt;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-opacity: 0.6;
    -fx-text-fill: #ffffff;
}

.chart-bar
{
    -fx-background-color: -main-txt-fill;
    -fx-opacity: 0.6;
}

.chart-pie-label
{
    -fx-fill: -main-txt-fill;
}

.chart-legend
{
   -fx-background-color:  -main-bg-color;
}

.chart-plot-background
{
    -fx-background-color: -main-bg-color;
}

.scroll-pane >.viewport
{
    -fx-background-color: -main-bg-color;
}

.scroll-pane
{
    -fx-background-color: -main-bg-color;
}

.axis { 
    -fx-tick-label-fill: -main-txt-fill;
    -fx-tick-label-font-size: 1.1em;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
    -fx-font-size:2.2em;
}
 
.axis-label {
   -fx-text-fill: -main-txt-fill; 
}
 
.axis-tick-mark {
    -fx-stroke: transparent;
}


.axis-minor-tick-mark 
{
    -fx-stroke: transparent;
}

.chart-vertical-grid-lines
{
    -fx-stroke: -main-bg-color;
}

.chart-horizontal-grid-lines 
{
    -fx-stroke: -main-bg-color;
}

.combo-box
{
    -fx-background-color: #666666;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2.5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-opacity: 0.8;
    -fx-prompt-text-fill: #ffffff;
}

.combo-box:hover
{
    -fx-border-color: red;
    -fx-text-fill: red;
}

.combo-box .list-cell
{
    
}


