/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-12-2018, 22:41:28
    Author     : KristianUrup
*/


.background {
    -fx-background-color: #666666;
}

.button
{
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #666666;
    -fx-border-color: #666666;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.textBox
{
    -fx-background-color: #FFFFFF;
    -fx-prompt-text-fill: #666666;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.label
{
  -fx-text-fill: #FFFFFF;  
}

.label_header
{
    -fx-text-fill: #FFFFFF;
    -fx-opacity: 0.8;
}



.table-view
{
    -fx-padding: 2.5;
    -fx-base: #FFFFFF;
    -fx-control-inner-background: #666666;
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0.5;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "SBerlin Sans FB Demi";
    -fx-alignment: center-left;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: black;
    -fx-opacity: 0.5;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-padding:2.5;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: black;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.text-field {
    -fx-font-size: 24pt;
    -fx-font-family: "Berlin Sans FB Demi";
    -fx-opacity: 0.6;
    -fx-text-fill: #ffffff;
}

.chart-pie-label
{
    -fx-fill: #ffffff;
}

.chart-legend
{
   -fx-background-color:  #666666;
}

